@{
    Page.Title = "Benvindos ! edição directa";
}

<p>
    Benvindo ao site pessoal teste da Beltrao Coelho! To get started, click any of the 
    menu items for additional setup instructions.
</p>
